
.icon-spin1:before { content: '\e803'; } /* '' */
.icon-ok-circled:before { content: '\e801'; } /* '' */
.icon-flash:before { content: '\e805'; } /* '' */
.icon-beaker-1:before { content: '\e804'; } /* '' */
.icon-lifebuoy:before { content: '\e800'; } /* '' */
.icon-beaker:before { content: '\e802'; } /* '' */